.widget {
    .widget-title {
        color: $white-color;
        font-size: 14px;
    }
    .widget-text {
        color: $white-color;
        font-weight: 200;
        line-height: 1.4;
    }
}

.widget-list {
    .list-item{
        li {
             a {
                 color: $white-color;
                 font-size: 12px;
                 line-height: 1;
             }
        }
    } 
}