.footer-logo {
    border: 1px solid $white-color;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    height: 77px;
    width: 50px;
    color: $white-color;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    width: 50px;
    padding-top: 7px;
    position: relative;
    z-index: 1;
    animation: floating-y infinite 5s alternate-reverse;

    @include mq (laptop2) {
            display: inline-block;
            border-radius: 40px;
            height: 40px;
            width: 31%;
            position: relative;
            left: 0;
            animation: unset;
            line-height: 22px;
            margin-bottom: 20px;

        span {
            display: inline !important;
        }
    }
    @include mq(xs) {
        width: 42%;
    }
}

.widget-about{
    width: calc(100% - (50px + 24%));
    margin-left: 24%;
}

.fancy-social {
    a {
        display: inline-block;
        margin-right: 13px;
        @include transition(.3s);
        &:hover {
            transform: scale(1.1);
        }
    }
} 

.widget{
    .list-item{
        padding-left: 0;
    }
    &.widget-list{
        @include media-breakpoint-up(xl){
            padding-left: 50px;
        }
    }
}

@-webkit-keyframes floating-y {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes floating-y {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

