//main-header
.main-header {
    border-bottom: 1px solid $heding;
    background-color: $white-color;
}
.header-top-bg {
    background-color: $heding;
    height: 20px;
    width: 100%;
}
.logo-text {
    color: $heding;
    font-size: 29px;
    text-transform: uppercase;
    @include mq(xs) {
        margin-bottom: 15px;
    }
    @include mq(sm) {
        margin-bottom: 0;
    }
    &:hover{
        text-decoration: none;
        color: currentColor;
    }
}

.header-btn-group {
    .que_btn {
        margin-left: 14px;
    }
}